@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;

  // .menu__hover {
  //   display: none;
  // }

  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    gap: 1px;

    background-color: $borderColor;
    color: $borderColor;
    text-align: center;
    font-weight: 600;

    & > * {
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header__menu {
      grid-row: 1;
      grid-column: 3;

      text-transform: uppercase;

      &:hover {
        background-color: $hoverColor;
        color: white;
        cursor: pointer;
      }
    }

    .box__rows {
      grid-row: 2;
      grid-column: 1 / -1;

      display: grid;
      gap: 1px;
      grid-template-columns: 1fr 1.5fr 1fr;

      background-color: $borderColor;

      & > * {
        height: 100%;
        background-color: white;
      }

      .left__box {
        grid-column: 1;
      }

      .box__image {
        grid-column: 2;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .right__box {
        grid-column: 3;
      }

      .box {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          border-bottom: 1px solid $borderColor;
        }

        &:hover {
          background-color: $hoverColor;
          color: white;
          cursor: pointer;
        }
      }
    }

    .scrolling_text {
      grid-row: 3;
      grid-column: 2;
      overflow: hidden;
      span {
        animation: scrollText 5s linear infinite;
      }
    }
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(-150px);
  }
  50% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-150px);
  }
}
